/* component/Navbar */
.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav-section{
  display: flex;
  justify-content: center;
}

.menu-list{
  display: flex;
  list-style-type: none;
}

.menu-list li{
  padding: 10px;
}

.menu-area{
  display: flex;
  justify-content: center;
  margin: 30px 0px;
  width: 100%;
}

.search-box{
  padding-top: 8px;
}

.search-box input{
  margin-left: 10px;
  border-radius: 10px;
}

img{
  cursor: pointer;
}

.userIcon{
  padding: 5px;
  padding-right: 5px;
}


/* ProductCard */
.card{
    border: none;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 30px;
    width: 90%;
}

.card :hover{
    width: 102%;
    height: auto;
    cursor: pointer;

}

.card > *{
  padding: 0 auto;
}


/* ProductDetail */
.product-img{
  display: flex;
  justify-content: flex-end;
}

.detail-info > *{
  margin-top: 30px;
  margin-left: 10px;
}

.size-option{
  width: 200px;
  height: auto;

}

/* ProductAll */
.container{
  margin: 0px auto;
}

